@import "./Role.css";

.expense-page {
  width: 100%;
  min-height: calc(100vh - 78px);
  background: #f8fafc;
  padding: 20px;
}
.expense-header h2 {
  font-size: 30px;
  color: #1f1f5c;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.expense-card {
  width: 100%;
  background: white;
  border-radius: 18px;
  border: 1px solid #e2e8f0;
  overflow: hidden;
}
